@media (max-width:700px){
	.profile-contact {
	display: inline-block !important;
    	margin-right: 0 !important;
	position:absolute;
	}
	.profile-contact .contact-icons a {
    	padding: 5px;
    }
    .profile-contact.app-hidden {
        display: none !important;
    }
}
.post-buttons .button.custom-button img {
    object-fit: contain;
    padding: 5px;
    height:12px;
    width:18px;
}
.post-buttons .app-hidden {
    display: none;
}
.small-icon.app-settings-icon {
    background-image: url('https://www.ivelt.com/forum/styles/prosilver_yidddish/theme/images/icon_topic_poll.gif');
}

.post-buttons .button.custom-button.quote-last img {
    padding-top: 5px;
    height:15px;
    width:21px;
}

.post-buttons .button.custom-button span{
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.clone-first .custom-button img{
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.clone-first .app-hidden {
    display: none;
}
.clone-first.app-hidden {
    display: none;
}
.custom-button{
    height:22px;
    width:28px;
    object-fit: contain;
    margin:0;
    padding: 0;
    text-align:center;
    user-select:none;
}